# Dependencies
node_modules/

# Build artifacts
dist/
public/dist/

# Environment files
.env

# Logs
*.log

# Editor artifacts
.cursor/
.claude/

# Development artifacts
*.excalidraw

docs/
/aws-icons-official
/excalidraw_resource_libraries/__MACOSX
/excalidraw_resource_libraries/excalidraw_resource_libraries/aws-icons-official
skills/excalidraw-diagramming/.DS_Store

# Python
__pycache__/
*.pyc
/tmp_mcp_learnings_docs
/.idea
